<section id = "statistics">
  <h3>Book Statistics</h3>

  <article id = "top-3">
    <h4>Best three books:</h4>
    <ul>
      <% @top_three_books.each do |book| %>
      <li><%= book.title %></li>
      <% end %>
    </ul>
  </article>

  <article id="bottom-3">
    <h4>Worst three books:</h4>
    <ul>
      <% @worst_three_books.each do |book| %>
      <li><%= book.title %></li>
      <% end %>
    </ul>
  </article>

  <article id="top-reviewers">
    <h4>Top Reviewers:</h4>
    <ul>
      <% @top_three_reviewers.each do |user| %>
      <li><%= user.username %> </li> 
      <% end %>
    </ul>
  </article>
</section>

<% @books.each do |book| %>
<section id = "book-<%= book.id %>">
  <h3 id="title-<%= book.id %>"><b>Title:</b> <%= book.title %> <b>Rating:</b> <%=book.average_rating %>
  <b>Number of reviews:</b> <%= book.reviews.count %></h3>
  <p> <b>Page count: </b><%= book.page_count %></p>
  <p> <b>Publishing year: </b><%= book.year %></p>
  <p><b>Authors:</b></p>
  <% book.authors.each do |author| %>
  <%= author.name %>
  <% end %>

</section>
<% end %>
