<section class="new">

<%= form_for @book do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :page_count %>
<%= f.number_field :page_count, min: 1 %>

<%= f.label :year %>
<%= f.number_field :year, min: 1 %>

<%= f.label :authors %>
<%= f.text_field :authors, value: "" %>

<%= f.submit %>
<% end %>

</section>
