<h1><%= @book.title %></h1>
<section>
  <p><b>Authors: </b>
    <% @book.authors.each do |a| %>
    <%= a.name %>
    <% end %>
  </p>
  <p><b>Page Count: </b>
      <%= @book.page_count %>
  </p>
</section>

<section>
  <h3>Reviews: </h3>
  <% @book.reviews.each do |r| %>
  <ul>
    <li>Reviewer: <%= r.user.username %> </li>
    <li><%= r.title %></li>
    <li>Rating: <%= r.rating %></li>
    <li><%= r.review_text %></li>
  </ul> <% end %>
</section>
