<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'public/main', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <nav>
      <ul>
        <li><%= link_to "Welcome page", root_path, method: :get %></li>
        <li><%= link_to "Library", books_path, method: :get %> </li>
      </ul>
    </nav>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
